h1{
    text-align: center;
}
td{
    width:100px;
    height:100px;
}
table{
    margin:5px auto;
}
.vert{
    border-left:2px solid black;
    border-right: 2px solid black;
}
.hori{
    border-top:2px solid black;
    border-bottom:2px solid black;
}
#game-data{
    text-align: center;
}
#game-keep{
    text-align: center;
}
.invisible-box{
    pointer-events: none;
}
#player1{
    width:80px;
    position:relative;
    top:-150px;
    margin-right: auto;
}
#player2{
    width:80px;
    margin-left:auto;
    top:-165px;
    left:-3px;
    position: relative;
}
.input1{
    position:fixed;
    top:55px;
}
.stick-to-right{
    float:right;
}
.input2{
    position: fixed;
    right:10px;
    top:44px;
}