body{
    margin:0;
    padding:0;
    font-family: montserrat;
    height:100vh;
    overflow: hidden;
    background-color: rgba(236,249,250,0.295);
}

h1{
    text-align: center;
    font-size:43px;
}
td{
    width:100px;
    height:100px;
}
table{
    margin:5px auto;
}
.vert{
    border-left:2px solid black;
    border-right: 2px solid black;
}
.hori{
    border-top:2px solid black;
    border-bottom:2px solid black;
}
.player-heading{
    color:white;
}
#piece{
    width:400px;
    height:400px;
}
#game-data{
    text-align: center;
}
#game-keep{
    text-align: center;
}
.playersfont{
    font-size:33px;
}
.invisible-box{
    pointer-events: none;
}
#player1{
    width:60px;
    width:80px;
    position:relative;
    top:-150px;
    margin-right: auto;
    font-weight:700;
    font-size:20px;
}
#player2{
    width:80px;
    margin-left:auto;
    top:-165px;
    left:-3px;
    position: relative;
    font-weight:700;
    font-size:20px;
}
#warning{
    font-size:24px;
}
#result{
    font-size:24px;
}